.quiz-container {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 50%;
}
.item, select {
  background: #4051b5;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: #eaeaea;
}
.item {
  height: 50px;
}
.result {
  margin-top: 1.5rem;
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0.5rem 1rem;
  text-align: left;
}

thead {
  background-color: var(--md-default-bg-color--lighter);
  font-weight: bold;
}

.display-none {
  display: none;
}

.quiz-box {
  background-color: #d9d6d6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
}

.quiz-box button {
  display: block;
  margin: 1.5rem auto 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.quiz-box button:hover {
  background-color: #43a047;
}
