name: Deploy MkDocs Site

on:
  push:
    branches:
      - master # or master, depending on your default branch

permissions:
  contents: write # This is required for the GITHUB_TOKEN to push to the gh-pages branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install dependencies
        run: pip install mkdocs mkdocs-material # Install mkdocs and any themes/plugins
      - name: Deploy the site
        run: mkdocs gh-deploy --force
